body {
    width: 600px;
    text-align: left;
    margin: 10px    ;
    font: 18px arial, sans-serif;
    line-height: 27px;

}

h1{
    text-align: center;
}

.foto {
    width: 160px;
    border: 2px solid white;
    margin: 0;
    padding: 0;
}
.li{
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    text-indent: 20px;
}
li{
    font-style: italic;
}
.logors{
    width: 60px;
}

