html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: rgb(63, 59, 59);
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  max-width: 1900px;
}



.ul-line {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.section-header a{
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  color: white;

}
.header li, .education li {
  list-style: none;
}

/* Foto */
.aboutme {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  
  
}

article {
  margin-left: 40px;
}

h1{
  font-size: 28px;
  color: white;
}

.foto {
  max-width: 200px;
  max-height: auto;
  box-shadow: 3px 3px 5px 5px white;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.info {
  margin-top: 50px;
  font-size: 18px;
}
.info1 {
  margin-top: 50px;
  font-size: 18px;
  max-width: 900px;
}

/* main */
.skils {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.working {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;

}

.main li {
  font-size: 18px;
  line-height: 40px;
}

/* My project */
.projects {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}

.project1, .project01, .code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

h2{
  font-size: 28px;
  color: white;
}

.fotoprojects {
  max-width: 300px;
  box-shadow: 3px 3px 5px 5px white;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.project1 section, .project01 section {
  margin-left: 40px;
}

.info {
  margin-top: 30px;
  font-size: 18px;
  color: white;

}

.education {
  display: flex;
  flex-direction: column;
}

.education section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}




.logors {
  max-width: 50px;
}

.logogit {
  max-width: 30px;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

.contacts-section a{
  margin: 0;
}

.language-js {
  max-width: 300px;
}

